* {
    border: none;
    border-radius: 0px;
    font-family: JetBrains Mono;
    font-size: 13px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: #101315;
    color: #cacccc;
}


#workspaces {
    background: #1a1f22;
    margin: 5px 5px;
    padding: 8px 5px;
    border-radius: 0px;
    border: solid 0px #cacccc;
    font-weight: normal;
    font-style: normal;
}
#workspaces button {
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 0px;
    color: #1a1f22;
    background-color: #343d41;
    transition: all 0.3s ease-in-out;
}
#workspaces button.active {
    color: #1a1f22;
    background-color: #798186;
    border-radius: 0px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}
#workspaces button:hover {
    background-color: #343d41;
    color: #1a1f22;
    border-radius: 0px;
    min-width: 50px;
    background-size: 400% 400%;
}

#clock, #battery, #network, #custom-brightness, #custom-launcher, #custom-updates-pacman-aur {
    background: transparent;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 0px;
    border: solid 0px #798186;
}

#custom-brightness{
    color: #cacccc;
    font-weight: bold;
}

#custom-updates-pacman-aur{
    color: #cacccc;
    font-weight: bold;
}

#tray
 {
    background: #1a1f22;
    margin: 5px 5px 5px 5px;
    border-radius: 0px;
    padding: 0px 12px;
}

#clock, #battery {
	background: #1a1f22;
	padding-left: 15px;
  padding-right: 14px;
	border-radius: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #cacccc;
}

#custom-search {
  background: #1a1f22;
  padding-left: 15px;
  padding-right: 14px;
  border-radius: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #cacccc;
}

#network {
    background: #1a1f22;
    padding: 4px 12px;
    border-radius: 0px;
    margin: 5px 0 5px 0;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #cacccc;
}


#battery {
    color: #cacccc;
    font-weight: bold;
}
#battery.charging {
    color: #ffffff;
}
#battery.warning:not(.charging) {
    color: #ffffff;
}

#backlight {
    color: #cacccc;
    border-radius: 0px 0px 0px 0px;
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px;
    font-weight: bold;
}

#pulseaudio {
    color: #cacccc;
    border-radius: 0px;
    margin-left: 0px;
    font-weight: bold;
}

#custom-playerctl {
  background: #1a1f22;
  border-radius: 0px;
  padding: 5px 8px;
  margin: 5px 0 5px 5px;
  color: #cacccc;
}

#custom-playerlabel {
  background: #1a1f22;
  border-radius: 0px;
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #cacccc;
}


#bluetooth {
  background: #1a1f22;
  border-radius: 0px;
  padding: 5px 10px;
  margin: 5px 0 5px 5px;
  font-size: 16px;
  color: #cacccc;
}

#custom-notify {
  background: #1a1f22;
  border-radius: 0px;
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
  font-size: 16px;
  color: #cacccc;
}

#pulseaudio {
	background: #1a1f22;
	padding-left: 15px;
  padding-right: 14px;
	border-radius: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #cacccc;
}

#window,
#hyprland-window {
    background: #1a1f22;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #cacccc;
}
