* {
  font-family: "FiraCode Nerd Font Propo Bold", "Material Design Icons", "unifont", sans-serif;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: #1e1e2e;
  color: #cdd6f4;
  border: 2px solid #45475a;
  min-height: 30px;
  padding: 5px;
  margin: 0;
}

#workspaces {
  margin: 7px 0;
  padding: 0 8px;
}

#workspaces button {
  color: #6c7086;
  padding: 0 10px;
}

#workspaces button:hover {
  color: #cdd6f4;
}

#workspaces button.active {
  background: #cba6f7;
  color: #1e1e2e;
  padding-bottom: 0;
}

#clock {
  margin: 7px 0;
  padding: 0 10px;
  color: #cba6f7;
}

#memory,
#temperature,
#cpu,
#pulseaudio,
#battery {
  padding: 0 10px;
  margin: 7px 0;
  color: #b4befe;
}

#custom-power-mode {
  padding: 0 10px;
  margin: 7px 0;
}

#custom-power-mode.performance {
  color: #f38ba8;
}

#custom-power-mode.balanced {
  color: #89b4fa;
}

#custom-power-mode.powersave {
  color: #a6e3a1;
}

tooltip {
  background: #1e1e2e;
  border: 1px solid #45475a;
  border-radius: 4px;
}

tooltip label {
  color: #cdd6f4;
}
