#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    browser_column_widths: [20, 38, 42],
    background_color: "#1a1b26",
    text_color: "#c0caf5",
    header_background_color: None,
    modal_background_color: "#16161e",
    tab_bar: (
        enabled: true,
        active_style: (fg: "#1a1b26", bg: "#7aa2f7", modifiers: "Bold"),
        inactive_style: (fg: "#565f89"),
    ),
    highlighted_item_style: (fg: "#bb9af7", modifiers: "Bold"),
    current_item_style: (fg: "#1a1b26", bg: "#7aa2f7", modifiers: "Bold"),
    borders_style: (fg: "#7aa2f7"),
    highlight_border_style: (fg: "#7aa2f7"),
    symbols: (song: "󰎇", dir: "󰉋", marker: " ", ellipsis: "..."),
    progress_bar: (
        symbols: [" ", " ", " "],
        track_style: (bg: "#1f2335"),
        elapsed_style: (bg: "#bb9af7", modifiers: "Bold"),
        thumb_style: (bg: "#bb9af7", modifiers: "Bold"),
    ),
    scrollbar: None,
    song_table_format: [
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown"))
            ),
            width: "15%",
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            width: "55%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "#c0caf5"),
                default: (kind: Text("Unknown Album"), style: (fg: "#c0caf5"))
            ),
            width: "20%",
        ),
        (
            prop: (kind: Sticker("playCount"), default: (kind: Text("0"))),
            width: "9",
            alignment: Right,
            label: "Playcount"
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width: "10%",
            alignment: Right,
        ),
    ],
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(Header),
                size: "2",
            ),
            (
                pane: Pane(Tabs),
                size: "3",
            ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
            (
                pane: Pane(ProgressBar),
                size: "1",
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "#e0af68", modifiers: "Bold")),
                    (kind: Property(Status(StateV2(playing_label: "Playing", paused_label: "Paused", stopped_label: "Stopped"))), style: (fg: "#e0af68", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "#e0af68", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Title)), style: (modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Property(Widget(Volume)), style: (fg: "#7aa2f7"))
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed))),
                    (kind: Text(" / ")),
                    (kind: Property(Status(Duration))),
                    (kind: Text(" (")),
                    (kind: Property(Status(Bitrate))),
                    (kind: Text(" kbps)"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#e0af68", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "#e0af68", modifiers: "Bold"))
                    ),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Album)),
                        default: (kind: Text("Unknown Album"))
                    )
                ],
                right: [
                    (
                        kind: Property(Widget(States(
                            active_style: (fg: "#c0caf5", modifiers: "Bold"),
                            separator_style: (fg: "#565f89")))
                        ),
                        style: (fg: "#565f89")
                    ),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
)
